# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/
*.apk
*.ipa

# Env secrets
.env
!.env.example

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
